body {
  margin: 0;
  font-family: -apple-system system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
  color: white;
  margin: 10px;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 500% 500%;
	animation: gradientBG 30s ease infinite;
}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

h2 {
  text-align: center;
  color: #bac9ff;
  font-size: 40px;

}

footer{
  text-align: center;

}

ul {
  text-align: center;

}

header {
  border-radius: 60px;
  background: rgb(32,34,37);
  background: linear-gradient(90deg, rgba(32,34,37,1) 19%, rgba(0,130,200,1) 76%, rgba(102,125,182,1) 100%);}


}

header h1 {
  border-radius: 60px;
  text-align: center;
  margin: 0;
  display: inline;

}

nav ul {
  margin: 0;
  display: inline;

}

nav ul li {
  color: white;
  display: inline-block;
  list-style-type: none;
  padding: 5px 15px;
  margin: 0;

}

nav ul li a {
  color: white;

}

.container {
  background: linear-gradient(-45deg, #23d5ab, #23a6d5, #e73c7e, #ee7752);
	background-size: 500% 500%;
	animation: gradientBG 30s ease infinite;
  margin: 5em;
  padding: 2em;
  border-radius: 60px;
  text-align: center;
}

@keyframes gradientBG {
	100% {
		background-position: 50% 0%;
	}
	50% {
		background-position: 50% 100%;
	}
	0% {
		background-position: 50% 0%;
	}
}

  .topnav a {
    float: center;
    display: block;
    color: #f2f2f2;
    text-align: center;

    text-decoration: none;
    margin: 0.5em;
    padding: 0.5em;
    border-radius: 10px;
}

  .topnav {
    overflow: hidden;
    background: #667db6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #667db6, #0082c8, #0082c8, #667db6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #667db6, #0082c8, #0082c8, #667db6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 60px;

}

.topnav a:hover {
  background-color: #677bc4;
  color: white;

}

  a:hover:not(.active) {
    background-color: #677bc4;

  }

  .active {
    background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  }

  .Installer {
    text-align: center;
    font-size: 30px;
  }

  .Saily {
    border-radius: 60px;
  }

.Installer {
  border-radius: 10px;
}

  iframe {
    border-radius: 30px;
  }

.carrier {
  max-width: 20%;
}

.theme {
  border-radius: 60px;
}

.malware {
  border-radius: 60px;
}

.cydia {
  border-radius: 20px;
}

.siteicon {
  border-radius: 60px;
  width: 100px;
  height: 100px;
}

.sailyicon {
  border-radius: 10px;
}

.h1 {
  font-size:10vw;
}

.h2 {
  font-size:10vw;
}

/* Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}
}
/* Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}

img {
  max-width: 100%;
}

html { font-size:100%; }
