.container{
box-shadow: none;
  background-color: transparent;
  margin-bottom: 1em;
}
html{
  scrollbar-width: none;
  -ms-overflow-style: none;
}
html::-webkit-scrollbar{
  width: 0px;
}

body{
  font-family: 'Varela', sans-serif;
  font-display: swap;
 font-weight: 165;
  background-color: #212121 !important;
  text-align: center;
  scroll-behavior: smooth;
  background: url("http://salehriaz.com/404Page/img/overlay_stars.svg");

}
section{
      color: #AEE1CD;
border-radius: 14px;
box-shadow:0 4px 8px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
background: #4E5851;
padding: 5px 0 15px 0;
  margin: 0 auto;
  font-size: 19px;
 font-weight: 165;
 margin-top: 1em;
 width: 98%;
 max-width: 600px;
 animation: scale-in-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
.icon {
    width: 10%;
    height: auto;
    text-align: center;
}
i{
padding: 0.35em;
  font-size: 31px;
  display: inline-block;
  outline: 1px;
  margin-bottom: 0.25em;
  margin-right: 1.6em;
  margin-left: 1.6em;
  font-family: 'icons';
}
a{
  text-decoration: none;
  color: #4ec2ed;
}
h1{
 padding-top: 0.5em;
  padding-left: 0;
  margin-left: 0;
  margin-right: 0;
  font-size: 31px;
  font-weight: 185;
  margin-bottom: 0.4em;
}
h2, h3, h4, h5{
  padding-top: 0.5em;
  font-size: 28px;
  font-weight: 175;
  margin-bottom: 0.4em;
}
ul {
  list-style-position: inside;
  display:inline-block;
	text-align:left;
  margin-bottom: 0.2em;
  margin-top: 0.2em;
}
a:hover{
 color: #8fe1ff;
 text-decoration: none;
}
a:active{
  color: #26c5ff;
}

.appleinc {
  width: 3%; height: auto;
}

.gigi{
  width: 70%; height: auto;
  border-radius: 30px;
}

@-moz-keyframes move-astronaut {
    100% { -moz-transform: translate(-160px, -160px);}
}
@-webkit-keyframes move-astronaut {
    100% { -webkit-transform: translate(-160px, -160px);}
}
@keyframes move-astronaut{
    100% { -webkit-transform: translate(-160px, -160px); transform:translate(-160px, -160px); }
}
@-moz-keyframes rotate-astronaut {
    100% { -moz-transform: rotate(-720deg);}
}
@-webkit-keyframes rotate-astronaut {
    100% { -webkit-transform: rotate(-720deg);}
}
@keyframes rotate-astronaut{
    100% { -webkit-transform: rotate(-720deg); transform:rotate(-720deg); }
}

.object_astronaut{
    animation: rotate-astronaut 200s infinite linear both alternate;
}

.box_astronaut{
    z-index: 110 !important;
    position: absolute;
    top: 60%;
    right: 20%;
    will-change: transform;
    animation: move-astronaut 50s infinite linear both alternate;
}
