.container{
box-shadow: none;
  background-color: transparent;
  margin-bottom: 1em;
}
html{
  scrollbar-width: none;
  -ms-overflow-style: none;
}
html::-webkit-scrollbar{
  width: 0px;
}

body{
  font-family: 'Varela', sans-serif;
  font-display: swap;
 font-weight: 165;
  background-color: #212121 !important;
  text-align: center;
  scroll-behavior: smooth !important;
  background: url("http://salehriaz.com/404Page/img/overlay_stars.svg");
  background-attachment: fixed;

}
section{
      color: #AEE1CD;
border-radius: 14px;
box-shadow:0 4px 8px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
background: rgba(78, 88, 81,0.33);
padding: 5px 0 15px 0;
  margin: 0 auto;
  font-size: 19px;
 font-weight: 165;
 margin-top: 1em;
 width: 98%;
 max-width: 600px;
 animation: scale-in-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
.icon {
    width: 10%;
    height: auto;
    text-align: center;
}
i{
padding: 0.35em;
  font-size: 31px;
  display: inline-block;
  outline: 1px;
  margin-bottom: 0.25em;
  margin-right: 1.6em;
  margin-left: 1.6em;
  font-family: 'icons';
}
a{
  text-decoration: none;
  color: #4ec2ed;
}
h1{
 padding-top: 0.5em;
  padding-left: 0;
  margin-left: 0;
  margin-right: 0;
  font-size: 31px;
  font-weight: 185;
  margin-bottom: 0.4em;
}
h2, h3, h4, h5{
  padding-top: 0.5em;
  font-size: 28px;
  font-weight: 175;
  margin-bottom: 0.4em;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
/*    overflow: hidden;*/
  display: flex;
  align-items: center;
}

.appleinc {
  width: 3%; height: auto;
}

.gigi{
  width: 70%; height: auto;
  border-radius: 30px;
}

@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,500');

@-moz-keyframes move-astronaut {
    100% { -moz-transform: translate(0px, 250px);}
}
@-webkit-keyframes move-astronaut {
    100% { -webkit-transform: translate(0px, 250px);}
}
@keyframes move-astronaut{
    100% { -webkit-transform: translate(0px, 250px); transform:translate(0px, 250px); }
}
@-moz-keyframes rotate-astronaut {
    100% { -moz-transform: rotate(360deg);}
}
@-webkit-keyframes rotate-astronaut {
    100% { -webkit-transform: rotate(360deg);}
}
@keyframes rotate-astronaut{
    100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }
}

.object_astronaut{
    animation: rotate-astronaut 10s infinite linear both;
}

.box_astronaut{
    z-index: 4;
    position: fixed;
    top: 30%;
    right: 5%;
    will-change: transform;
    animation: move-astronaut 30s infinite linear both alternate;
}

.btn-request{
    padding: 10px 25px;
    border: 5px solid #424242;
    border-radius: 100px;
    font-weight: 400;
}

.btn-request:hover{
    background-color: #424242;
    color: #a4d4c1;
    transform: scale(1.05);
    box-shadow: 0px 20px 20px rgba(0,0,0,0.1);
}

.btn-go-home{
    position: relative;
    z-index: 200;
    margin: 15px auto;
    width: 500px;
    padding: 10px 15px;
    border: 1px solid #424242;
    border-radius: 100px;
    font-weight: 200;
    display: block;
    color: #a4d4c1;
    text-align: center;
    text-decoration: none;
    letter-spacing : 1px;
    font-size: 20px;

    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.btn-go-home:hover{
    background-color: #424242;
    color: #a4d4c1;
    transform: scale(1.05);
    box-shadow: 0px 20px 20px rgba(0,0,0,0.1);
}

@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,500');

@-moz-keyframes rocket-movement { 100% {-moz-transform: translate(1000px,-50px);} }
@-webkit-keyframes rocket-movement {100% {-webkit-transform: translate(1000px,-50px); } }
@keyframes rocket-movement { 100% {transform: translate(1000px,-50px);} }
@-moz-keyframes spin-earth { 100% { -moz-transform: rotate(-360deg); transition: transform 20s;  } }
@-webkit-keyframes spin-earth { 100% { -webkit-transform: rotate(-360deg); transition: transform 20s;  } }
@keyframes spin-earth{ 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); transition: transform 20s; } }

.objects img{
    pointer-events: none;
}

.object_rocket{
    position: fixed;
    transform: translateX(-1000px);
    z-index: 2;
    top: 50%;
    pointer-events: none;
    animation: rocket-movement 45s linear infinite both running;
}


.object_earth{
    position: fixed;
    top: 40%;
    left: 5%;
    z-index: 1;
    animation: spin-earth 30s infinite linear both;*/
}

.object_moon{
  position: fixed;
  top: 32%;
  left: 15%;
  width: 120px;
  height: 120px;
  margin:-60px 0 0 -60px;
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


.earth-moon{

}
