body {
  font-family: 'SF Pro';
  background-color: #212121 !important;
  text-align: center;
  scroll-behavior: smooth !important;
  background: url("https://gistcdn.githack.com/MrGigiTheBunny/11c1a0e7997608efbf81c93a27d66f41/raw/4a33cd6b06d07cfd7b562457f92828cbf31e2751/stars.svg");
  background-attachment: fixed;
}

#container {
  pointer-events: none;
  box-shadow: none;
  background-color: transparent;
  margin-bottom: 1em;
}

@keyframes {
  transform: scale(0);
  opacity: 1;
  transform: scale(1);
  opacity: 1;
}

@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

.h1, h1 {
  pointer-events: none;
  padding-top: 0.5em;
  padding-left: 0;
  margin-left: 0;
  margin-right: 0;
  font-size: 31px;
  font-weight: 200;
  margin-bottom: 0.4em;
}

.figure-img {
  width: 50%;
  height: auto;
  pointer-events: none;
}

p {
  font-size: 22px;
}

.icon {
  width: 10%;
  height: auto;
  text-align: center;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 20px;
  pointer-events: fill;
}

section {
  position: relative;
  z-index: 8;
  color: #AEE1CD;
  border-radius: 14px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
  background: rgba(78, 88, 81,0.33);
  padding: 5px 0 15px 0;
  margin: 0 auto;
  font-size: 19px;
  font-weight: 200;
  margin-top: 1em;
  width: 98%;
  max-width: 600px;
  animation: scale-in-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

p {
  padding-bottom: 0.6em;
  padding: 10px;
}

.h2, h2 {
  pointer-events: none;
  padding-top: 0.5em;
  font-size: 28px;
  font-weight: 200;
  margin-bottom: 0.4em;
}

.btn-go-home {
  position: relative;
  z-index: 200;
  margin: 15px auto;
  width: 500px;
  padding: 10px 15px;
  border: 1px solid #424242;
  border-radius: 100px;
  font-weight: 200;
  display: block;
  color: #a4d4c1;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 20px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.btn-go-home:hover {
  background-color: #424242;
  color: #a4d4c1;
  transform: scale(1.05);
  box-shadow: 0px 20px 20px rgba(0,0,0,0.1);
}

a, a:hover, a:focus {
  text-decoration: none;
}

.gigi {
  pointer-events: none;
  width: 70%;
  height: auto;
  border-radius: 30px;
}

#object_astronaut {
  width: 100px;
  height: auto;
  animation: rotate-astronaut 10s infinite linear both;
  pointer-events: none;
}

#box_astronaut {
  z-index: 4;
  position: fixed;
  top: 30%;
  right: 5%;
  will-change: transform;
  animation: move-astronaut 30s infinite both alternate;
  pointer-events: none;
}

@keyframes move-astronaut {
  100% {
    -webkit-transform: translate(0px, 250px);
    transform: translate(0px, 250px);
  }
}

@keyframes rotate-astronaut {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#object_rocket {
  width: 200px;
  height: auto;
  position: fixed;
  transform: translateX(-600%);
  z-index: 2;
  top: 50%;
  pointer-events: none;
  animation: rocket-movement 45s linear infinite both;
}

.objects img {
  pointer-events: none;
}

@keyframes rocket-movement {
  100% {
    transform: translate(600%,-50%);
  }
}

@keyframes spin-earth {
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    transition: transform 20s;
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#object_earth {
  width: 100px;
  height: auto;
  position: fixed;
  top: 40%;
  left: 5%;
  z-index: 1;
  animation: spin-earth 30s infinite linear both;
}

#object_moon {
  width: 80px;
  height: auto;
  position: fixed;
  top: 32%;
  left: 15%;
  width: 120px;
  height: 120px;
  margin: -60px 0 0 -60px;
  animation: spin 4s linear infinite;
}

@keyframes glow-star {
  40% {
    -webkit-opacity: 0.3;
    opacity: 0.3;
  }
  90%, 100% {
    -webkit-opacity: 1;
    opacity: 1;
    -webkit-transform: scale(2);
    transform: scale(2);
    border-radius: 99999px;
  }
}

.glowing_stars .star {
  position: fixed;
  border-radius: 100%;
  background-color: #fff;
  width: 3px;
  height: 3px;
  opacity: 0.5;
  will-change: opacity;
  pointer-events: none;
}

.glowing_stars .star:nth-child(1) {
  top: 80%;
  left: 25%;
  animation: glow-star 3s infinite ease-in-out alternate 1s;
}

.glowing_stars .star:nth-child(1) {
  top: 80%;
  left: 25%;
  animation: glow-star 3s infinite ease-in-out alternate 1s;
}

.glowing_stars .star:nth-child(1) {
  top: 80%;
  left: 25%;
  animation: glow-star 3s infinite ease-in-out alternate 1s;
}

.glowing_stars .star:nth-child(2) {
  top: 20%;
  left: 40%;
  animation: glow-star 2s infinite ease-in-out alternate 3s;
}

.glowing_stars .star:nth-child(3) {
  top: 25%;
  left: 25%;
  animation: glow-star 2s infinite ease-in-out alternate 5s;
}

.glowing_stars .star:nth-child(4) {
  top: 75%;
  left: 80%;
  animation: glow-star 1s infinite ease-in-out alternate 7s;
}

.glowing_stars .star:nth-child(5) {
  top: 90%;
  left: 50%;
  animation: glow-star 2s infinite ease-in-out alternate 9s;
}

.glowing_stars .star:nth-child(6) {
  top: 47%;
  left: 48%;
  animation: glow-star 3s infinite ease-in-out alternate 10s;
}

.glowing_stars .star:nth-child(7) {
  top: 48%;
  left: 29%;
  animation: glow-star 2s infinite ease-in-out alternate 10s;
}

.glowing_stars .star:nth-child(8) {
  top: 10%;
  left: 34%;
  animation: glow-star 1s infinite ease-in-out alternate 9s;
}

.glowing_stars .star:nth-child(9) {
  top: 20%;
  left: 50%;
  animation: glow-star 3s infinite ease-in-out alternate 8s;
}

.glowing_stars .star:nth-child(10) {
  top: 5%;
  left: 10%;
  animation: glow-star 2s infinite ease-in-out alternate 5s;
}

.glowing_stars .star:nth-child(11) {
  top: 37%;
  left: 5%;
  animation: glow-star 1s infinite ease-in-out alternate 7s;
}

.glowing_stars .star:nth-child(12) {
  top: 70%;
  left: 15%;
  animation: glow-star 2s infinite ease-in-out alternate 3s;
}

.glowing_stars .star:nth-child(13) {
  top: 70%;
  left: 40%;
  animation: glow-star 3s infinite ease-in-out alternate 6s;
}

.glowing_stars .star:nth-child(14) {
  top: 30%;
  left: 90%;
  animation: glow-star 2s infinite ease-in-out alternate 10s;
}

.glowing_stars .star:nth-child(15) {
  top: 35%;
  left: 70%;
  animation: glow-star 1s infinite ease-in-out alternate 4s;
}

.glowing_stars .star:nth-child(16) {
  top: 65%;
  left: 60%;
  animation: glow-star 2s infinite ease-in-out alternate 8s;
}

.glowing_stars .star:nth-child(17) {
  top: 90%;
  left: 75%;
  animation: glow-star 3s infinite ease-in-out alternate 5s;
}

.glowing_stars .star:nth-child(18) {
  top: 35%;
  left: 85%;
  animation: glow-star 2s infinite ease-in-out alternate 14s;
}

.glowing_stars .star:nth-child(19) {
  top: 27%;
  left: 57%;
  animation: glow-star 1s infinite ease-in-out alternate 13s;
}

@media (min-width: 300px) {
  section {
    width: 317px;
    height: auto;
    min-width: 0px;
  }
}

@media (min-width: 300px) {
  .btn-go-home {
    width: 260px;
    font-size: 16px;
  }
}

@media (min-width: 300px) {
  .icon {
    width: 37px;
  }
}

@media (min-width: 300px) {
  p {
    font-size: 16px;
  }
}

@media (min-width: 300px) {
  #object_astronaut {
    width: 60px;
  }
}

@media (min-width: 300px) {
  #object_earth {
    width: 80px;
  }
}

@media (min-width: 300px) {
  #object_moon {
    width: 100px;
  }
}

@media (min-width: 300px) {
  #object_rocket {
    width: 180px;
  }
}

@media (min-width: 992px) {
  section {
    width: 600px;
  }
}

@media (min-width: 992px) {
  .icon {
    width: 10%;
  }
}

@media (min-width: 992px) {
  p {
    font-size: 22px;
  }
}

@media (min-width: 992px) {
  .btn-go-home {
    width: 500px;
    font-size: 20px;
  }
}

@media (min-width: 992px) {
  #object_astronaut {
    width: 100px;
  }
}

@media (min-width: 992px) {
  #object_earth {
    width: 100px;
  }
}

@media (min-width: 992px) {
  #object_moon {
    width: 80px;
  }
}

@media (min-width: 576px) {
  section {
    width: 499px;
  }
}

@media (min-width: 576px) {
  p {
    font-size: 18px;
  }
}

@media (min-width: 576px) {
  .icon {
    width: 50px;
  }
}

@media (min-width: 576px) {
  #object_astronaut {
    width: 80px;
  }
}

@media (min-width: 576px) {
  .btn-go-home {
    width: 405px;
  }
}

@media (min-width: 768px) {
  section {
    width: 566px;
  }
}

@media (min-width: 768px) {
  .icon {
    width: 64px;
  }
}

@media (min-width: 768px) {
  p {
    font-size: 23px;
  }
}

@media (min-width: 768px) {
  .h2, h2 {
    font-size: 34px;
  }
}

@media (min-width: 768px) {
  #object_astronaut {
    width: 90px;
  }
}

@media (min-width: 768px) {
  #object_earth {
    width: 90px;
  }
}

@media (min-width: 768px) {
  #object_moon {
    width: 110px;
  }
}

@media (min-width: 768px) {
  .btn-go-home {
    width: 485px;
    font-size: 19px;
  }
}

@media (min-width: 1200px) {
  section {
    width: 600px;
  }
}

@media (min-width: 1200px) {
  #object_earth {
    width: 150px;
  }
}

@media (min-width: 1200px) {
  #object_moon {
    width: 130px;
  }
}

@media (min-width: 1200px) {
  .figure-img {
    width: 260px;
  }
}

@media (min-width: 1200px) {
  #object_astronaut {
    width: 130px;
  }
}

@media (min-width: 1200px) {
  p {
    font-size: 25px;
  }
}

@media (min-width: 1200px) {
  .btn-go-home {
    font-size: 20px;
    width: 541px;
  }
}

html::-webkit-scrollbar {
  width: 0px;
}

